<section class="relative min-h-screen" style="background-color: var(--color-black-background)">

    <!-- Background effects -->
    <div class="bg-cyan-400 w-full sm:w-60 h-40 rounded-full absolute top-1 opacity-24 max-sm:right-0 sm:left-56 z-0"></div>
    <div class="bg-emerald-600 w-full sm:w-60 h-40 absolute top-0 left-0 opacity-24 z-1"></div>
    <div class="bg-purple-700 w-full sm:w-50 h-40 absolute top-40 left-0 opacity-24 z-0"></div>

    <div class="w-full pb-24 relative z-10 backdrop-blur-3xl">
        <div class="flex items-center justify-end relative right-20 py-6 ">
            <div class="rounded-md text-sm font-medium pl-8">
                @if (username$ | async; as username) {
                <span class="text-sm text-white">
                    Olá, {{ username }}
                </span>
                <button (click)="logout()" class="text-sm text-red-500 cursor-pointer font-bold px-8">
                    Sair
                </button>
                }
            </div>

        </div>
        <div class="w-full max-w-7xl mx-auto px-4 lg:px-8">

            <!-- GRID PRINCIPAL -->
            <div class="grid grid-cols-1 xl:grid-cols-12 gap-8">

                <!-- ================= LEFT SIDE ================= -->
                <div class="xl:col-span-5">

                    <h2 class="text-3xl leading-tight text-gray-100 mb-1.5 font-semibold">
                        Próximos eventos
                    </h2>

                    <p class="text-lg text-gray-200 mb-8">
                        Não perca sua programação
                    </p>

                    <div class="flex flex-col gap-5 border-custom">

                        <!-- Card Evento -->
                        <div class="flex flex-col gap-5 custom-scroll overflow-y-auto h-[68dvh]" (scroll)="onScroll($event)">

                            @for (event of this.eventService.upcomingEvents(); track event.id) {
                            <app-card-next-events [title]="event.title" [description]="event.description"
                                [startDate]="event.startDate" [endDate]="event.endDate" [color]="event.color">
                            </app-card-next-events>
                            }

                        </div>

                        <!-- Repita seus outros cards aqui normalmente -->

                    </div>
                </div>

                <!-- ================= RIGHT SIDE ================= -->
                <div class="xl:col-span-7">

                    <div class="bg-neutral-800 p-6 w-full border-custom flex flex-col">

                        <!-- Header -->
                        <div class="flex items-center justify-between mb-6">

                            <h1 class="text-2xl leading-tight text-gray-100 mb-1.5 font-semibold">
                                Agenda
                            </h1>
                            <div class="flex items-center">
                                <fa-circle-plus-button (clicked)="openModal()"></fa-circle-plus-button>

                                <div class="flex gap-1 p-1 shadow-sm border-custom" style="background-color: var(--color-black-background)">

                                    <button (click)="setView('day')" [class.bg-blue-700]="viewMode() === 'day'"
                                        [class.text-white]="viewMode() === 'day'"
                                        class="px-4 py-2 rounded-2xl text-sm font-medium !text-white transition-all duration-200 hover:bg-blue-400 cursor-pointer">
                                        Dia
                                    </button>

                                    <button (click)="setView('week')" [class.bg-blue-700]="viewMode() === 'week'"
                                        [class.text-white]="viewMode() === 'week'"
                                        class="px-4 py-2 rounded-2xl text-sm font-medium !text-white transition-all duration-200 hover:bg-blue-400 cursor-pointer">
                                        Semana
                                    </button>

                                    <button (click)="setView('month')" [class.bg-blue-700]="viewMode() === 'month'"
                                        [class.text-white]="viewMode() === 'month'"
                                        class="px-4 py-2 rounded-2xl text-sm font-medium !text-white transition-all duration-200 hover:bg-blue-400 cursor-pointer">
                                        Mês
                                    </button>

                                </div>
                            </div>

                        </div>

                        <!-- Conteúdo -->
                        <div class=" rounded-xl shadow-md p-4 border-custom" style="background-color: var(--color-black-background)">

                            @if (viewMode() === 'month') {
                                <app-calendar-month></app-calendar-month>
                            }

                            @if (viewMode() === 'week') {
                                <app-calendar-week></app-calendar-week>
                            }

                            @if (viewMode() === 'day') {
                                <app-calendar-day></app-calendar-day>
                            }
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    @if (isModalOpen()) {
    <!-- BACKDROP -->
    <div class="fixed inset-0 bg-black/40 backdrop-blur-sm z-50 flex items-center justify-center"
        (click)="closeModal()">

        <!-- MODAL -->
        <div class="relative" (click)="$event.stopPropagation()">
            <app-new-event></app-new-event>
        </div>

    </div>
    }
</section>