/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@import "flatpickr/dist/flatpickr.css";
/* @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap'); */


/* Fonts */
/* @layer theme{
    :root{
        --font-nunito-300: "Nunito Sans", sans-serif;
    }

} */

:root{
    --color-purple: #CC60FA;
    --color-orange: #FA7F60;
    --color-green: #8FFA60;
    --color-cyan: #60DCFA;
    --color-black-background:  #3b3b3b;
}

html, body {
  margin: 0;
  padding: 0;

  min-height: 100dvh;
  width: 100%;

  background-color: var(--color-black-background);
}