<div class="w-full h-[62dvh] flex flex-col overflow-hidden">

    <!-- Cabeçalho -->
    <div class="flex items-center border-b border-indigo-100 mb-6">
        <button (click)="previousDay()"
            class="px-2 py-1 cursor-pointer text-gray-100 hover:scale-110 transition-all duration-200 mb-4">
            <fa-icon [icon]="faAngleLeft"></fa-icon>
        </button>

        <button (click)="nextDay()"
            class="px-2 py-1 cursor-pointer text-gray-100 hover:scale-110 transition-all duration-200 mb-4">
            <fa-icon [icon]="faAngleRight"></fa-icon>
        </button>

        <h2 class="px-6 text-lg font-semibold text-gray-100 mb-4">
            {{ currentDate() | date:'EEEE, dd/MM/yyyy' }}
        </h2>
    </div>

    <!-- Lista de eventos -->
    <div class="space-y-2 flex flex-col h-full overflow-hidden min-h-0">
        <!-- Lista de eventos -->
        <div class="flex-1 min-h-0 overflow-y-auto custom-scroll pr-1
            flex flex-col items-center gap-2">
            @for (event of eventsOfDay(); track event.id) {
            <div (click)="openEvent(event)"
                class="text-black text-xs font-bold px-4 py-1 rounded-md truncate hover:scale-102 cursor-pointer w-full max-w-xl shrink-0 coiny-regular"
                [style.background]="event.cor">
                {{ event.dataInicio | date:'HH:mm' }} - {{ event.dataFim | date:'HH:mm' }}: {{ event.titulo }}
            </div>
            }

            @if(eventsOfDay().length === 0) {
            <div class="text-gray-500 text-sm">Nenhum evento para este dia</div>
            }
        </div>

    </div>

    @if (isModalOpen() && selectedEvent()) {

    <!-- Overlay -->
    <div class="fixed inset-0 top-0 bg-black/30 flex items-center justify-center z-50" (click)="closeModal()">

        <!-- Card central -->
        <div class="rounded-xl w-[600px] p-6 relative" (click)="$event.stopPropagation()">

        <app-card-next-events 
            [id]="selectedEvent()!.id"
            [titulo]="selectedEvent()!.titulo" 
            [descricao]="selectedEvent()!.descricao"
            [dataInicio]="selectedEvent()!.dataInicio" 
            [dataFim]="selectedEvent()!.dataFim"
            [cor]="selectedEvent()!.cor"
            (deleted)="handleDeletedEvent()">
        </app-card-next-events>

            <button (click)="closeModal()"
                class="absolute top-2 right-2 text-gray-200 hover:text-gray-500 cursor-pointer">
                ✕
            </button>

        </div>

    </div>

    }